<div class="session_container">

  <div class="form_container">

    <h1 class="form_heading">Log In</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %><br />
      <%= f.email_field :email %><br /><br />

      <%= f.label :password %><br />
      <%= f.password_field :password %><br /><br />

      <%= f.submit 'Login', class: 'btn btn-success' %>

    <% end %><br />

    <p>New User? <%= link_to 'Sign Up Now', signup_path %></p>

  </div>

</div>