<div class="session_container">

  <div  class="form_container">

    <h1 class="form_heading"><%= yield(:title) %></h1>

    <%= form_for @user do |f| %>

      <%= f.label :name %><br />
      <%= f.text_field :name %><br /><br />

      <%= f.label :email %><br />
      <%= f.email_field :email %><br /><br />

      <%= f.label :password %><br />
      <%= f.password_field :password %><br /><br />

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %><br /><br />

      <%= f.submit 'Sign Up', class: 'btn btn-success' %>

    <% end %><br />

    <p>Already Registered? <%= link_to 'Log In Now', login_path %></p>

  </div>

</div>