<div>
  <h1 class="index_heading">Books</h1>
  
  <div class="index_search_form">
    <h3 class='index_search_form_header'>Advanced Search</h3>
    <%= search_form_for @search do |f| %>
      
      <%= f.label :title %>:<br />
      <%= f.text_field :title_cont %><br />
      
      <%= f.label :author %>:<br />
      <%= f.text_field :author_cont %><br /><br />

      <%= f.label :price_gteq, 'Price Between:' %><br />
      <span class='price_field'><%= f.text_field :price_gteq, placeholder: 'MIN' %>
        
      <%= f.label :price_lteq, 'AND' %>
      <span class='price_field'><%= f.text_field :price_lteq, placeholder: 'MAX' %><br /><br />

      <%= f.submit "Search" %>

    <% end %>
  </div>

    <% if @books.any? %>
      
      <% @books.each do |book| %>
        <div class="each_ad">
          <span class="each_image"><%= image_tag book.attachment_url %></span>
          <span class="each_title"><%= link_to book.title, book_path(book) %></span>
          <span class="each_price"><%= number_to_currency(book.price) %></span>
          <p>Author: <%= book.author %> </p>
        </div>
      <% end %>

    <% else %>
      <p>No Results Found!</p>
    <% end %>

</div>