<p><%= @book.title %></p>
<p><%= image_tag @book.attachment_url %></p>

<p><%= @book.price %></p>
<p><%= @book.author %></p>
<p><%= @book.details %></p>

<p><%= link_to 'Edit', edit_book_path, :class => "btn btn-warning" %></p>
<p><%= link_to 'Delete', book_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></p>