<div>
  <h1 class="index_heading">Other Products</h1>
  
  <div class="index_search_form">
    <h3 class='index_search_form_header'>Advanced Search</h3>
    <%= search_form_for @search do |f| %>
      
      <%= f.label :name, 'Title:' %><br />
      <%= f.text_field :name_cont %><br /><br />

      <%= f.label :price_gteq, 'Price Between:' %><br />
      <span class='price_field'><%= f.text_field :price_gteq, placeholder: 'MIN' %>
        
      <%= f.label :price_lteq, 'AND' %>
      <span class='price_field'><%= f.text_field :price_lteq, placeholder: 'MAX' %><br /><br />

      <%= f.submit "Search" %>

    <% end %>

  </div>  

    <% @products.each do |product| %>
      <div class="each_ad">
        <span class="each_image"><%= image_tag product.attachment_url %></span>
        <span class="each_title"><%= link_to product.name, product_path(product) %></span>
        <span class="each_price"><%= number_to_currency(product.price) %></span>
      </div>
    <% end %>

</div>