<p>Click <%= link_to 'here', new_product_path %> To Place An Ad</p>

<% @products.each do |product| %>

  <%= product.price %>
  <%= link_to product.name, product_path(product) %>
  <%= product.category %>
  <%= product.description %>

<% end %>
