<h2><%= @product.name %></h2>
<p>Posted By: <%= @product.user.name %></p>

<% if current_user && @product.user == current_user %>
  <span><%= link_to 'Edit', edit_product_path, :class => "btn btn-warning" %></span>
  <span><%= link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></span>
<% end %><br /><br />

<p><%= image_tag @product.attachment_url %></p>
<p>Price: <%= number_to_currency(@product.price) %><p/>
<p><%= @product.description %></p>


