<h2 class="show_page_title"><%= @product.name %> (<%= number_to_currency(@product.price) %>)</h2>
<p class="posted_by">Posted By: <%= @product.user.name %></p>

<% if current_user && @product.user == current_user %>
  <div class="show_page_buttons">
    <span class="show_page_edit"><%= link_to 'Edit', edit_product_path%></span>
    <span class="show_page_delete"><%= link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %><br /><br />

<p class="show_page_image"><%= image_tag @product.attachment_url %></p>

<p class="show_page_details"><%= @product.description %></p>


